body{
    background-image: url(pexels-emma-li-6589610.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: sans-serif;
    
}

.carousel-container {
  width: 500px;
  overflow: hidden;
  margin: auto;
}

.carousel {
  display: flex;
  animation: scroll 10s linear infinite;
}

.carousel-item {
  width: 100%;
  flex: 0 0 auto;
}

.carousel-item img {
  width: 100%;
  height: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}


#first{
  display: flex;

}
h1{
    color: green;
    text-align: center;
    font-weight: 1000;
    text-transform: uppercase;
}
.breadType {
    font-style: italic;

}
.para1{
 font-family: cComic Sans MS, Comic Sans, cursive;
}
.para2{
  font-variant: small-caps;
}
.para3{
  font-weight:600;
  color: hotpink
}
.breadImages{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0%;
    flex-wrap: wrap;
    gap: 20px 20px;
}
.bestbread {
    opacity: 0.8;
  }
  
  .bestbread:hover {
    opacity: 1.0;
    transform: scale(1.05);
  }
  .wheatbread{
    float: left;
    width: 30%;
    margin: 10px;
    
    
    border : double;
    padding: 5px 5px 5px 5px;

  }
  .container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "item-1 item-2 item-3"
      "item-4 item-4 item-4"
      "item-4 item-4 item-4";
  }
  
  .item-1 {
     grid-area: item-1;
     width: 100%;
    }
  
  .item-2 { 
    grid-area: item-2;
    height: 100%; 
    width: 100%;}
  
  .item-3 { 
    grid-area: item-3; 
    width: 100%;}
  
  .item-4 { 
    grid-area: item-4; ;
    width: 100%;

    }
    .centerButton {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #button{
    background-color: blueviolet; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer; 
    }
    #button:hover {
      background-color: rgb(182, 24, 24); 
      color: rgb(0, 0, 0);
      width: 300px;
      font-size: x-large;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    #third{
      display: none;
    }
    footer{
      background-color: lightslategray;
      text-align: center;
      padding: 3px;
      font-style: italic;
    }

    .newStyle1{
      border: 1px solid rgb(76, 0, 255);
      padding: 2%;
    }
    .newStyle2{
      background-color: brown;
    }
    

  