body{
    background-image: url(pexels-emma-li-6589610.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: sans-serif;
    
}
h1{
    color: green;
    text-align: center;
    font-weight: 1000;
    text-transform: uppercase;
}
.breadType {
    font-style: italic;

}
.breadImages{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0%;
    flex-wrap: wrap;
    gap: 20px 20px;
}
.bestbread {
    opacity: 0.8;
  }
  
  .bestbread:hover {
    opacity: 1.0;
    transform: scale(1.05);
  }
  .wheatbread{
    float: left;
    width: 30%;
    margin: 10px;
  }
  .container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "item-1 item-2 item-3"
      "item-4 item-4 item-4"
      "item-4 item-4 item-4";
  }
  
  .item-1 {
     grid-area: item-1;
     width: 100%;
    }
  
  .item-2 { 
    grid-area: item-2;
    height: 100%; 
    width: 100%;}
  
  .item-3 { 
    grid-area: item-3; 
    width: 100%;}
  
  .item-4 { 
    grid-area: item-4; ;
    width: 100%;

    }
  